*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contact{
    min-height: 100vh;
    background-color: darksalmon;
    padding: 50px;
    text-align: center;
}
body{
    background-image: url(./fonds/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    list-style: name;
    display: inline-block;
    padding: 10px 20px;
}
.v{
    display: flex;
    
}
i{
    font-size: 25px;
}
nav ul li a{
    color: darkorchid;
    position: relative;
    padding: 5px 0;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 70px;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: blueviolet;
    text-align: center;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding-top: 10%;
}
.contact-form{
    text-align: left;

}
.contact-from h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.form-group{
    margin-bottom: 20px;
    margin-top: 5%;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: darksalmon;
    color: blueviolet;
}
input:focus;
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: blueviolet;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.contact-info{
    text-align: center;
    padding-left: 30px;
    margin-left: 60px;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.contact-info p{
    margin-bottom: 10px;
    color: #555;
}
.contact-info a{
    margin-bottom: 10px;
    color: rgb(30, 66, 226);
}
.contact-info i{
    color: #4caf50;
    margin-right: 10px;
}
@media screen and (max-width: 768px){
    .container{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }